<!-- start header -->
<div id="header">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="#">Home</a></li>
			<li><%= link_to 'Mail', :controller => 'mail', :action => 'mail' %></li>
			<!--<li><a href="#">Sample2</a></li>
			<li><a href="#">Sample3</a></li>
			<li><a href="#">Sample4</a></li>-->
		</ul>
	</div>
</div>
<div id="logo">
	<h1>pc_kO2 Ruby Samples</h1>
	<p>basic utilities in Ruby</p>
</div>
<!-- end header -->
<hr />
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<p class="meta"><small>posted on September 12th, 2012 by me</small></p>
			<h1 class="title">introduction</h1>
			<div class="entry">
				<p>This a sample page to practice with Ruby. I started with a simple mail application. All the code is uploaded and is free to use at Github.</p>
				<p>Thank you for visiting.</p>
			</div>
			<p class="tags"><strong>Tags:</strong> <a href="#">Ruby</a> <a href="#">Idea</a> <a href="#">Thanks</a> </p>
		</div>
	</br>
	</br>
		<div class="post">
			<p class="meta"><small>Posted on September 11th, 2012 by me</small></p>
			<h1 class="title"><a href="#">About Page</a></h1>
			<div class="entry">
				<p>Using template by <strong>News Flash</strong> is a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org">FCT</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attributions 2.5</a> license, so you're pretty much free to do whatever you want with it  (even use it commercially) provided you keep the links in the footer  intact. Have fun with it :)</p>
				<p>This template is also available as a <a href="http://www.freewpthemes.net/preview/newsflash/">WordPress theme</a> at <a href="http://www.freewpthemes.net/">Free WordPress Themes</a>.</p>
				<h2>A Heading Level 2</h2>
				<p>This paragraph is followed by a sample unordered list:</p>
				<ul>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">Metus aliquam pellentesque</a></li>
					<li><a href="#">Urnanet non molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a></li>
				</ul>
				<h3>Heading Level 3</h3>
				<p>While this one is followed by a blockquote:</p>
				<blockquote>
					<p>Donec leo, vivamus nibh in augue praesent a lacus at urna congue rutrum. Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh.</p>
				</blockquote>
			</div>
			<!--<p class="links"><a href="#" class="comments">Comments (33)</a> &nbsp;&nbsp;&nbsp; <a href="#" class="permalink">Permalink</a></p>-->
			<p class="tags"><strong>Tags:</strong> <a href="#">dolor</a> <a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a> <a href="#">dolor</a> <a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a></p>
		</div>
	</div>
	<div id="sidebar1" class="sidebar">
		<ul>
			<li id="recent-posts">
				<h2>Samples</h2>
				<ul>
					<li>
						<h3><a href="#">Mail</a></h3>
						<p>A simple mail system with attachments.</p>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="sidebar2" class="sidebar">
		<ul>
			<li>
				<table border="0">
					<tr>
						<td><h2>About me</h2></td>
					</tr>
					<tr>
						<td>I'm a .NET programmer that fell in love with Ruby at the first test. This page is product of my tests.</br></td>
					</tr>
					<tr><td></td></tr>
					<tr>
						<td>If you want to follow my technical notes you can do it at <a href="http://twitter.com/pc_kO2_tech">Twitter</a></td>
					</tr>
				</table>
			</li>
		</ul>
	</div>
	<!-- end sidebar two -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<hr />
<!-- start footer -->
<div id="footer">
	<p>&copy;2012 A Creative Commons Page. &nbsp;&bull;&nbsp; Template Idea Designed by <a href="http://www.freecsstemplates.org">FCT</a>.</p>
</div>
<!-- end footer -->
